<form [formGroup]="radioGroupForm">
  <div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    name="radioBasic"
    formControlName="status"
    (change)="handleChange()"
  >
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="ALL" /> All
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="NEW" /> New
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="DOING" /> Doing
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="DONE" /> Done
    </label>
  </div>
</form>
<hr />
<pre>{{ radioGroupForm.value["status"] }}</pre>